@import "../../sass/default/variable";

.modal-title,
.modal-subtitle {
  color: $base-color4;
}

.modal-body img {
  width: 100%;
  margin-bottom: 20px;
}

// buttons

.st-btn-2.st-style-2.st-color2 {
  background-color: #fec544;
  color: #070d1b;
}

.st-btn-3.st-style-3{
  background-color: #070d1b;
  color: #fec544;
}
 

.st-btn-3.st-style-3 {
  border: 1px solid;
  padding: 0.69em 3.2em;
}

.st-btn-3.st-style-3 {
  border: 1px solid;
  padding: 0.69em 3.2em;
}

.st-btn-3.st-style-3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all .4s ease;
  text-transform: capitalize;
  cursor: pointer;
}
.st-btn-2.st-style-2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all .4s ease;
  text-transform: capitalize;
  cursor: pointer;
}

.st-portfolio-btns a {
  min-width: calc(50% - 15px) !important;
  box-sizing: border-box !important;
  font-size: 14px !important;
  padding: 10px 30px !important;
  color: #f1f1f1;
}

@media screen and (max-width:300px){
  .st-btn-2.st-style-2.st-color2{
   font-size: 13px !important;
  }
}